a {
    text-decoration: none;
    color: inherit;
  }
  
  
  .text {
    vertical-align: middle;
  }
  
  .icon {
    color: #999;
    vertical-align: middle;
    font-size: 16px;
    margin-left: 2px;
    margin-bottom: -1px;
    font-weight: 700;
  }

  .wrap {
      position: relative;
      min-width: 1280px;
      height: 100%;
  }
  
  .header {
      position: fixed;
      right: 0;
      left: 0;
      top: 0;
      border-bottom: 0;
      background-color: transparent;
      z-index: 9999;
  }
  
  .section_header_wrap {
      background-color: transparent;
  }
  
  .section_header {
      border-bottom: 1px solid rgba(255,255,255,.2);
      position: relative;
      width: 1100px;
      margin: 0 auto;
  }
  
  .area_inner {
      overflow: hidden;
      padding: 5px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  
  .area_navbar {
      overflow: hidden;
      justify-content: space-between;
      background-color: var(--background-color);
      padding: 8px 12px;
      margin-left: 100px;
  }
  
  .list_siteMenu_wrap {
      overflow: hidden;
      position: relative;
  }
  
  .list_siteMenu_MenuList {
      list-style: none;
      display: flex;
      justify-content: flex-start;
      margin: 0;
      padding-left: 0;
      color: #fff;
  }
  
  .navbar_color {
      padding: 10px;
      color: #fff;
  }
  
  .theme_color {
      color: #c52c36;
  }
  
  .area_show_sidebar_btn {
      all: unset;
      cursor: pointer;
      color: #fff;
      margin-right: 40px;
      justify-content: flex-end;
  }
  
  .test {
      vertical-align: -7px;
  }
  
  /* side_menu_bar */
  
  .theme_background {
      background-color: #c52c36 !important;
  }
  .side_menu_bar {
      /* 버튼을 누르면 디스플레이를 block으로 바꿈 */
      display: none;
      overflow-y: auto;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      width: 320px;
  }
  
  .close_btn_sidemenu {
      position: absolute;
      top: 20px;
      right: 20px;
      width: 40px;
      height: 40px;
      border: 0;
      background-color: rgba(0,0,0,.08);
      font-size: 20px;
      font-weight: 700;
      color: #fff;
      line-height: 48px;
      text-align: center;
      cursor: pointer;
  }
  
  .area_logo {
      padding: 30px 75px 64px 40px;
  }
  
  .site_name {
      display: inline;
      font-size: 25px;
      font-weight: 400;
      line-height: 1.5;
      color: #fff;
      word-wrap: break-word;
      word-break: break-all;
  }
  
  .menuList {
      list-style: none;
  }
  
  .menuList li {
      overflow: hidden;
      padding: 15px 30px;
      font-size: 14px;
      line-height: 1.6;
  }
  
  /* main */
  
  .main {
      padding-top: 0;
  }
  
  .spot_main_banner {
      position: relative;
  }
  
  .main_banner {
      position: relative;
  }
  
  .main_banner_img {
      width: 100%;
      height: 400px;
      position: relative;
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-image: url(https://img.lovepik.com/photo/40099/5885.jpg_wh860.jpg);
  }
  
  .main_banner_opacity {
      opacity: 0.21;
  }
  
  .main_center_info {
      width: 900px;
      height: 400px;
      margin-left: -450px;
      text-align: center;
      display: table;
      position: absolute;
      left: 50%;
      top: 0;
  }
  
  .site_info {
      display: table-cell;
      position: relative;
      z-index: 10;
      padding-top: 39px;
      vertical-align: middle;
      letter-spacing: -.8px;
  }
  
  .site_profile {
      float: none;
  }
  
  .site_profile_img {
      width: 80px;
      height: 80px;
  }
  
  .site_description {
      margin-top: 2px;
      font-size: 15px;
      color: rgba(255,255,255,.8);
      line-height: 25px;
      letter-spacing: -.6px;
      word-wrap: break-word;
      word-break: break-all;
  }
  
  /* 가게 소개 */
  
  .intro_box {
      position: relative;
      padding-top: 80px;
      padding-bottom: 50px;
      width: 1280px;
      margin: 0 auto;
  }
  
  .intro_section {
      position: relative;
      text-align: center;
  }
  
  .point_text {
      display: inline-block;
      position: relative;
      margin-bottom: 8px;
      font-size: 25px;
      font-weight: 400;
      letter-spacing: -.8px;
  }

  .text_intro {
    position: relative;
    overflow: hidden;
    height: auto;
    margin: 0 217px;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.89;
    letter-spacing: -.6px;
    color: #333;
    word-wrap: break-word;
    word-break: break-all;
  }

  /* 본문 구현 */
  .content {
    width: 1280px;
    min-height: 650px;
    padding: 0 90px 100px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .uio_box {
    position: relative;
    margin-top: 80px;
  }

  .summary_btn_more {
    position: absolute;
    top: 30px;
    right: 0;
    font-size: 15px;
    letter-spacing: -.6px;
    text-align: left;
    color: #666;
  }

  .uio_title {
    display: inline-block;
    position: relative;
    font-size: 20px;
    margin-bottom: 40px;
    font-weight: 400;
    letter-spacing: -.8px;
  }

  .uio_title_bullet {
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 1px;
    z-index: 1;
  }

.uio_title:after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px;
    content: '';
    width: 1100px;
    height: 1px;
    background-color: #ebebeb;
}

/* 메뉴 소개 부분 */

.gallery_area {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.gallery_area ul {
    margin-left: -20px;
    font-size: 0;
}

.gallery_area li {
    display: inline-block;
    width: 33.333%;
    padding-left: 20px;
    vertical-align: top;
    box-sizing: border-box;
}

.gallery_area li:nth-child(n+4) {
    margin-top: 20px;
}

.gallery_img {
    position: relative;
    overflow: hidden;
}

.gallery_img a {
    display: block;
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
}

.gallery_img img {
    display: block;
    width: 100%;
    vertical-align: top;
}

.more_items {
    height: 351px;
    border: solid 1px #ebebeb;
    background-color: #fff;
    box-shadow: 2px 2px 4px 0 rgb(0 0 0 / 8%);
    font-family: Roboto,Sans-serif;
    text-align: center;
}

.link_more {
    display: block;
}

.text2 {
    display: block;
    font-size: 15px;
    letter-spacing: -.5px;
    line-height: 22px;
    color: #333;
}

.text2>i {
    display: block;
    font-size: 12px;
    color: #bbb;
    letter-spacing: -.3px;
    font-style: italic;
}

/* 지도 부분 */

.map_area {
    border: 0;
    box-shadow: none;
}

.map_area:before {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 100;
    background: #717480;
    opacity: .9;
    content: '';
}

.map_adr {
    padding: 0 265px 0 20px;
    margin: 40px 0;
    height: auto;
    max-height: 140px;
    position: relative;
    background: #fff;
    box-sizing: border-box;
}

.map_adr>h3 {
    font-size: 15px;
    overflow: hidden;
    font-weight: 400;
    color: #666;
    line-height: 24px;
    letter-spacing: -.6px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.map_adr>p {
    font-size: 26px;
    line-height: 38px;
    overflow: hidden;
    letter-spacing: -1px;
}